
.technologies {
  background-color: #f9f9f9;
  font-family: Arial, sans-serif;
  padding: 20px;
}

h2 {
  text-align: center;
  margin-bottom: 20px;
}

.outer-table {
  width: 100%;
  border-collapse: collapse;
}

.outer-table td {
  border: 1px solid #ddd;
  padding: 8px;
  vertical-align: top;
}

.category-cell {
  width: 20%;
  font-weight: bold;
}

.details-cell {
  width: 80%;
}

.inner-table {
  width: 100%;
  border-collapse: collapse;
}

.inner-table td {
    width: 33.33%; /* Each of the 3 columns gets equal width */
    /* border: 1px solid #ddd; */
    padding: 8px;
    word-wrap: break-word; /* Ensures long words wrap */
    border:none;
}
